Redirect 301 "/formulario.htm" http://www.wincaja.com.mx/Downloads.html
Redirect 301 "/caracteristicas.htm" http://www.wincaja.com.mx/productos.html
Redirect 301 "/productos.htm" http://www.wincaja.com.mx/productos.html
Redirect 301 "/nuestraempresa.htm" http://www.wincaja.com.mx/Contacto.html
Redirect 301 "/winmenu.htm" http://www.wincaja.com.mx/productos.html
Redirect 301 "/gsupermercados.htm" http://www.wincaja.com.mx/productos.html
Redirect 301 "/grestaurantes.htm" http://www.wincaja.com.mx/productos.html
Redirect 301 "/galeria.htm" http://www.wincaja.com.mx/productos.html
Redirect 301 "/cfd.htm" http://www.wincaja.com.mx/productos.html
Redirect 301 "/gvinosylicores.htm" http://www.wincaja.com.mx/productos.html
Redirect 301 "/gdulcerias.htm" http://www.wincaja.com.mx/productos.html
Redirect 301 "/new/Wincaja/*.html" http://www.wincaja.com.mx/index.html
