@font-face {
    font-family: Sensation;
    src: url(Font/Sansation_Regular.ttf);
    font-weight:400;
}

@font-face {
    font-family: Ropa;
    src: url(Font/RopaSans-Regular.ttf);
    font-weight:400;
}

@media screen {
    @font-face {
        font-family: 'PT Sans';
        font-style: normal;
        font-weight: bold;
        src: local('PT Sans Bold'), local('PTSans-Bold'), url('http://themes.googleusercontent.com/static/fonts/ptsans/v3/0XxGQsSc1g4rdRdjJKZrNBsxEYwM7FgeyaSgU71cLG0.woff') format('woff');
    }
}
@media screen {
    @font-face {
        font-family: 'PT Sans';
        font-style: normal;
        font-weight: normal;
        src: local('PT Sans'), local('PTSans-Regular'), url('http://themes.googleusercontent.com/static/fonts/ptsans/v3/LKf8nhXsWg5ybwEGXk8UBQ.woff') format('woff');
    }
}
@media screen {
    @font-face {
        font-family: 'PT Sans';
        font-style: italic;
        font-weight: normal;
        src: local('PT Sans Italic'), local('PTSans-Italic'), url('http://themes.googleusercontent.com/static/fonts/ptsans/v3/PIPMHY90P7jtyjpXuZ2cLD8E0i7KZn-EPnyo3HZu7kw.woff') format('woff');
    }
}

body {
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 13px;
line-height: 18px;
color: #333;
} 





a {
color: #08C;
text-decoration: none;
}


body {

    margin: 0 auto;

    font-size: small;
   height:180px;
background: #29b8e5; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzI5YjhlNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmNmY2ZjYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #29b8e5 0%, #f6f6f6 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#29b8e5), color-stop(100%,#f6f6f6)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #29b8e5 0%,#f6f6f6 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #29b8e5 0%,#f6f6f6 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #29b8e5 0%,#f6f6f6 100%); /* IE10+ */
background: linear-gradient(top,  #29b8e5 0%,#f6f6f6 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#29b8e5', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-8 */

 background-repeat:no-repeat;
  background-color:#f6f6f6;
    

}

.headerlogo{
    float:left;

    width:35%;
}

header{
    position:relative;
       position:relative;
    background: #29b8e5; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzI5YjhlNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmNmY2ZjYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #29b8e5 0%, #f6f6f6 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#29b8e5), color-stop(100%,#f6f6f6)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #29b8e5 0%,#f6f6f6 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #29b8e5 0%,#f6f6f6 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #29b8e5 0%,#f6f6f6 100%); /* IE10+ */
background: linear-gradient(top,  #29b8e5 0%,#f6f6f6 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#29b8e5', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-8 */

 background-repeat:no-repeat;
  background-color:#f6f6f6;
  height:180px;

}

footer{
    background: #222; padding: 20px;
    font-size: 12px; color: #555; text-shadow: 0px 2px 3px #171717;
    width:72%; margin: auto;
    box-shadow: 0 0 50px #888;
    border:inherit 0px #000000;
 
    position:relative;
   height:7px;
   max-width:970px;
   min-width:800px;
    

}

.imgslide{
    width:100%;
    height:180px;


   }

.header{
    height:180px;
  
background: #29b8e5; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzI5YjhlNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmNmY2ZjYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #29b8e5 0%, #f6f6f6 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#29b8e5), color-stop(100%,#f6f6f6)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #29b8e5 0%,#f6f6f6 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #29b8e5 0%,#f6f6f6 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #29b8e5 0%,#f6f6f6 100%); /* IE10+ */
background: linear-gradient(top,  #29b8e5 0%,#f6f6f6 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#29b8e5', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-8 */


}

.bookmarks{
  margin-left:75px;
   top: -5px;
   position: relative;
   width:100%;

}



.logo{
   height: 100%;
    width: 85%;
    border-radius: .9em;


}



.container , .containerp{
    max-width: 1008px;
   display: block;
    width: 75.5%;
    margin: auto;
    background: #f6f6f6;
    box-shadow: 0 0 40px gray;
    overflow: hidden;
    border:inherit 0px #000000;
   
    min-width:840px;






}

#superior{
    display: inline;
    z-index:2;
}
#superior article{
    position:relative;
     z-index:2;
    margin-left:5%;
    width:50%;
    height:100%;
  


}

#superior article img{
    width:100%;

}

#superior aside{
   position:relative;
    width: 35%;
    height:100%;
    /* // bordes */ 
    text-decoration:none;
    padding-top: 5%;
    text-align:center;
   margin-right:5%;
    
    float:right;
    font-family:RopaSans-Regular;
    font-size:21px;
    
    line-height:.9;
    margin-left: 55%;
    
    top: -310px;


}

  



#superior aside ul{
    list-style:none;
    width:99%;
}

#superior aside h1{
    color: #32c6f4;
    font-size:23px;
    font-weight:lighter;
    
    
}
 

#inferior{
 height:200px;
 z-index:;
 position: relative;
 top:-150px;
 
}
.iizquierda, #icentro, #iderecha{

display :inline-block;

}

.iizquierda{
    width:40%;
    height:100%;
    float: left;
    margin-left:2%;
    }

    .iizquierda p{
        font-family:RopaSans-Regular;
    font-size:20px;
    text-align:right;
    }

    #icentro{
    width:25%;
    height:100%;
    margin-left:2%;
    margin-right:2%;
   
    }

    #iderecha{
         width:25%;
         height:100%;
         float: right;
         position: relative;
         margin:left:2%;
         margin-right:2%;
    }

    #contenedori{padding: .1em;}




.navw{
    height:150px;
    width: 100%;
    background-color:transparent;
    position: absolute;
    margin-left:38%;
    font-size:16px;
    


}




nav  {
    display: block;
    width: 100%;
    height:250px;
    overflow: hidden;
    float:right;
    
    
    behavior: url(js/PIE/PIE.htc);
 
}

nav ul {
    margin: 80px 0 20px 0;
    padding: 1em;
    float: left;
    list-style: none;
   
  
   
}

nav li {
    float:left;
    padding-left:15px;
}

nav a {
    float:left;
    padding:.5em;
   
}

nav a:hover, nav a:focus {
    outline: 0;
    color: #fff;
    text-shadow: 0 1px 0 rgba(0,0,0,.2);
    background: #5FABE6;
    background: -moz-linear-gradient(#5FABE6, #169FD5);
    background: -webkit-gradient(linear, left top, left bottom, from(#5FABE6), to(#169FD5));
    background: -webkit-linear-gradient(#5FABE6, #169FD5);
    background: -o-linear-gradient(#5FABE6, #169FD5);
    background: -ms-linear-gradient(#5FABE6, #169FD5);
    background: linear-gradient(#5FABE6, #169FD5);
}

nav a:active {
    -moz-box-shadow: 0 0 2px 2px rgba(0,0,0,.3) inset;
    -webkit-box-shadow: 0 0 2px 2px rgba(0,0,0,.3) inset;
    box-shadow: 0 0 2px 2px rgba(0,0,0,.3) inset;
}



                                




.insetText {
    font-family: Lucida Grande;
    background-color: #666666;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: rgba(255,255,255,0.5) 0px 3px 3px;
}


.bluetext {color: #32c6f4;}

.twitterd{
 text-decoration:none;
 color:#555;
 display:inline; 
 position:relative; 
 top:-25px;
 font-size:12px;  
 margin-left:80%; 
}

.contenedorc , .contenedord{
box-shadow: 0 0 25px #888;
height: 170px;
}